edge-tts
sounddevice
soundfile
SpeechRecognition
pyaudio
requests
fastapi
uvicorn[standard]
pydantic
spotipy==2.24.0
crewai
browser-use
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai
groq
mistralai
faster-whisper
pytesseract
Pillow
mss
langchain-groq
langchain-community
langchain-core
tinytuya
playwright
pyttsx3
openpyxl
pdfplumber
pandas
psutil
chromadb
python-dotenv
